{% extends "base.html" %}

{% block content %}

<div class="card">
    <h3>Nuevo cliente</h3>

    <form method="post">
        <input name="nombre" placeholder="Nombre" required>
        <input type="number" name="abono" placeholder="Abono" required>

        <button class="btn">Agregar</button>
    </form>
</div>

<div class="card">
    <h3>Listado de clientes</h3>

    {% for c in clientes %}
        <div class="row">
            <span>{{ c[1] }} - ${{ c[2] }}</span>

            <form action="/eliminar_cliente/{{ c[0] }}" method="get">
                <button class="btn-danger" onclick="return confirm('¿Eliminar cliente?')">
                    Eliminar
                </button>
            </form>
        </div>
    {% endfor %}
</div>

{% endblock %}