{% extends "base.html" %}

{% block content %}

<h1>Cobros</h1>

<div class="card">
<form method="post">
    Cliente:
    <select name="cliente_id">
        {% for c in clientes %}
            <option value="{{ c[0] }}">{{ c[1] }}</option>
        {% endfor %}
    </select>

    Fecha:
    <input type="date" name="fecha" required>

    Importe:
    <input type="number" step="0.01" name="importe" required>

    Persona:
    <select name="persona">
        <option>Abel</option>
        <option>Valeria</option>
    </select>

    <button type="submit">Registrar</button>
</form>
</div>

<div class="card">
<ul>
{% for p in pagos %}
    <li>
    {{ p[2] }} - {{ p[1] }} - ${{ p[3] }} ({{ p[4] }})

    <form action="/eliminar_pago/{{ p[0] }}" method="get" class="inline-form">
        <button class="btn-eliminar" onclick="return confirm('¿Eliminar pago?')">Eliminar</button>
    </form>
	</li>
{% endfor %}
</ul>
</div>

<a href="/">Volver</a>

{% endblock %}