{% extends "base.html" %}

{% block content %}

<h1>Informe</h1>

<div class="card">
    <a href="/informe?modo=pendiente" class="btn">Sin saldar</a>
    <a href="/informe?modo=todo" class="btn">Mostrar todo</a>
</div>

<div class="card">

<table style="width:100%; font-size:14px;">
    <tr>
        <th>Fecha</th>
        <th>Detalle</th>
        <th>Importe</th>
        <th>Tipo</th>
        <th>Persona</th>
    </tr>

    {% for d in datos %}
    <tr>
        <td>{{ d[0] }}</td>
        <td>{{ d[1] }}</td>
        <td>${{ d[2] }}</td>
        <td>{{ d[3] }}</td>
        <td>{{ d[4] }}</td>
    </tr>
    {% endfor %}
</table>

</div>

<div class="card">
    <h3>{{ mensaje }}</h3>
</div>

{% endblock %}